<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="../" class="site_title"><img src="/static/images/logo.png" alt="" style="width: 80%; margin: 0 15px;"></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Menu</h3>
      <ul class="nav side-menu">

        <li><a><i class="fa fa-user"></i> Transakcje <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% if user.is_authenticated and user.employee.role == 'A' %}
            <li><a href="{% url 'transactions:list-all' %}">Wszystkie transakcje</a></li>
            {% endif %}           
            <li><a href="{% url 'transactions:list' %}">Moje transakcje</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-user"></i> Klienci <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'clients:create' %}">Dodaj klienta</a></li>
            <li><a href="{% url 'clients:list' %}">Moi klienci</a></li>
            {% if user.is_authenticated and user.employee.role == 'A' %}
            <li><a href="{% url 'clients:list-all' %}">Wszyscy klienci</a></li>
            {% endif %} 
          </ul>
        </li>
        <li><a><i class="fa fa-file-o"></i> Umowy <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'agreements:create' %}">Dodaj umowę</a></li>
            <li><a href="{% url 'agreements:list' %}">Moje umowy</a></li>
            {% if user.is_authenticated and user.employee.role == 'A' %}
            <li><a href="{% url 'agreements:list-all' %}">Wszystkie umowy</a></li>
            {% endif %} 
          </ul>
        </li>
        <li><a><i class="fa fa-th-large"></i> Produkty <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% if user.is_authenticated and user.employee.role == 'A' %}
              <li><a href="{% url 'products:create' %}">Dodaj produkt</a></li>
            {% endif %}
            <li><a href="{% url 'products:list' %}">Pokaz produkty</a></li>
          </ul>
        </li>
        {% if user.is_authenticated and user.employee.role == 'A' %}
        <li><a><i class="fa fa fa-users"></i> Pracownicy <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'employees:create' %}">Dodaj pracownika</a></li>
            <li><a href="{% url 'employees:list' %}">Pokaz pracowników</a></li>
          </ul>
        </li>
        {% endif %}
        <li><a><i class="fa fa-calendar"></i> Kalendarz <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'events:list' %}">Pokaż mój kalendarz</a></li>
            {% if user.is_authenticated and user.employee.role == 'A' %}
              <li><a href="{% url 'events:list-all' %}">Pokaż ogólny kalendarz</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{% url 'notifications:list' %}"><i class="fa fa-bell"></i> Powiadomienia </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->

  <!-- /menu footer buttons -->
</div>
