<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          {% if user.is_authenticated %}
            {{ request.user.employee.name }} {{ request.user.employee.surname }}
          {% else %}
              Niezalogowany
          {% endif %}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'employees:detail' user.username %}"> Moje ustawienia</a></li>
          <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Wyloguj</a></li>
          {% endif %}
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-envelope-o"></i>
          <span class="badge bg-green notifications_counter">{{notifications_unread}}</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            {% for notification in  notifications|dictsortreversed:"timestamp"|slice:":5" %}
                <li>
                  <a href="{{notification.content_object.get_absolute_url}}">
                    <span class="image"><i class="fa fa-info-circle" aria-hidden="true"></i> </span>
                      <span> {{notification.content_object.name}} {{notification.content_object.surname}}</span>
                      <span class="time">{{ notification.timestamp|timesince }} temu</span>
                    </span>
                    <span class="message">
                      {{ notification.content }}
                    </span>
                  </a>
                </li>
              {% empty %}
              <li><p class="text-center">Brak nowych powiadomień</p></li>
            {% endfor %}
          <li>
            <div class="text-center">
              <a>
                <strong>Zobacz wszystkie powiadomienia</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    
  </nav>
</div>
