{% extends "base_site.html" %} {% block title %} {{title}} {% endblock title %} 

{% block stylesheets %}
  {{ block.super }}
    <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %} 

{% block content %}
{% load myfilters %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{title}}</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel form_wizard wizard_horizontal">
                    <div class="x_content">                        
                        <form action="." method="post" id="demo-form2" class="form-horizontal form-label-left">{% csrf_token %}
                            <div class="form-group">
                                {{ forms.agreement_form.client_id.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.agreement_form.client_id.id_for_label }}">Klient
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.agreement_form.client_id|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{forms.agreement_form.client_id.id}}
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                {{ forms.agreement_form.buyer.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.agreement_form.buyer.id_for_label }}">Sprzedawca
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.agreement_form.buyer|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{forms.agreement_form.buyer.id}}
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                {{ forms.declaration_form.product_id.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.declaration_form.product_id.id_for_label }}">Produkt
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.declaration_form.product_id|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{forms.declaration_form.product_id.id}}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ forms.agreement_form.valid_since.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.agreement_form.valid_since.id_for_label }}">Ważna od 
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.agreement_form.valid_since|add_attributes:'class:date-input form-control col-md-7 col-xs-12 valid-date, required:required'}}
                                    {{forms.agreement_form.valid_since.id}}
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ forms.agreement_form.nr.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.agreement_form.nr.id_for_label }}">Numer umowy
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.agreement_form.nr|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{forms.agreement_form.nr.id}}
                                    <p>Numer umowy powinien zachować wzór <i>01_234_56B</i> i/ub nie może zawierać znaków "/" oraz "\"</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="agreement_state" class="btn-group" data-toggle="buttons">
                                        {% for choice in forms.agreement_form.state.field.choices %}
                                        <label class="btn btn-default {% if forms.agreement_form.state.value == choice.0 %} active {% endif %}" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" for='{{ forms.agreement_form.state.auto_id }}_{{ forloop.counter0 }}'>
                                            <input name='{{ forms.agreement_form.state.name }}' 
                                            id='{{ forms.agreement_form.state.auto_id }}_{{ forloop.counter0 }}' type='radio' value='{{ choice.0 }}'
                                            {% if forms.agreement_form.state.value == choice.0 %} checked='checked' {% endif %} required
                                            /> {{ choice.1 }}
                                        </label>
                                        {% endfor %}
                                        <br><br>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ forms.agreement_form.amount.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ forms.agreement_form.amount.id_for_label }}">Kwota
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{forms.agreement_form.amount|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{forms.agreement_form.amount.id}}
                                </div>
                            </div>

                            
                        
                            

                            <div class="ln_solid"></div>

                           
                            <div class="form-group text-center">
                                <button type="reset" class="btn btn-primary">Reset</button>
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} 
{{ block.super}}
<script src="/static/vendors/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

<script>
(function () {
	$(document).ready(function() {
		$(".valid-date").datetimepicker({    
            timepicker:false,
            format:'Y-m-d',
        });
	});
})(jQuery);

(function () {
    if($('.errorlist').length){
        $('.errorlist').hide();
        $('.errorlist').each(function(){
            console.log(this);
            new PNotify({
                title: "Ostrzeżenie",
                text: $(this).find('li').text(),
                type: 'danger',
                styling: 'bootstrap3'
            });
        })
    }
})(jQuery);
</script>
{% endblock javascripts %}
