{% extends "base_site.html" %} {% block title %} {{title}} {% endblock title %} 

{% block stylesheets %}
  {{ block.super }}
    <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %} 

{% block content %}
{% load myfilters %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{title}}</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel form_wizard wizard_horizontal">
                    <div class="x_content">                        
                        <form action="." method="post" id="demo-form2" class="form-horizontal form-label-left">{% csrf_token %}

                            <div class="form-group">
                                {{ form.old_password.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.old_password|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{form.old_password.username.id}}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.new_password1.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.new_password1|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{form.new_password1.username.id}}
                                    <p>{{form.new_password1.help_text|safe}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.new_password2.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.new_password2|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{form.new_password2.username.id}}
                                    <p>{{form.new_password2.help_text}}</p>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
    
                            <div class="form-group text-center">
                                <button type="reset" class="btn btn-primary">Reset</button>
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} 
{{ block.super}}
<script src="/static/vendors/pnotify/dist/pnotify.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

<script>(function () {
	$(document).ready(function() {

        if($('.errorlist').length){
            $('.errorlist').hide();
            $('.errorlist').each(function(){
                console.log(this);
                new PNotify({
                    title: "Ostrzeżenie",
                    text: $(this).find('li').text(),
                    type: 'danger',
                    styling: 'bootstrap3'
                });
            })
        }
	});
})(jQuery);
</script>
{% endblock javascripts %}
