{% extends "base_site.html" %} {% block title %} {{title}} {% endblock title %} 

{% block stylesheets %}
  {{ block.super }}
    <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %} 

{% block content %}
{% load myfilters %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{title}}</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel form_wizard wizard_horizontal">
                    <div class="x_content">                        
                        <form action="." method="post" id="demo-form2" class="form-horizontal form-label-left">{% csrf_token %}
                            <div class="form-group">
                                {{ form.name.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.name.id_for_label }}">{{form.name.label}}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.name|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{form.name.id}}
                                </div>
                            </div>

                           

                            <div class="form-group">
                                {{ form.surname.errors }}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.surname.id_for_label }}">{{form.surname.label}}
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{form.surname|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                    {{form.surname.id}}
                                </div>
                            </div>

                            <div class="form-group">
                                    {{ email.email.errors }}
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ email.email.id_for_label }}">{{email.email.label}}
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{email.email|add_attributes:'class: form-control col-md-7 col-xs-12, required:required'}}
                                        {{email.email.id}}
                                    </div>
                                </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.employee_state.label}} <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="employee_state" class="btn-group" data-toggle="buttons">
                                        {% for choice in form.employee_state.field.choices %}
                                        <label class="btn btn-default {% if form.employee_state.value == choice.0 %} active {% endif %}" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" for='{{ form.employee_state.auto_id }}_{{ forloop.counter0 }}'>
                                            <input name='{{ form.employee_state.name }}' 
                                            id='{{ form.employee_state.auto_id }}_{{ forloop.counter0 }}' type='radio' value='{{ choice.0 }}'
                                            {% if form.employee_state.value == choice.0 %} checked='checked' {% endif %} required
                                            /> {{ choice.1 }} 
                                        </label>
                                        {% endfor %}
                                        <br><br>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{form.role.label}} <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="employee_state" class="btn-group" data-toggle="buttons">
                                        {% for choice in form.role.field.choices %}
                                        <label class="btn btn-default {% if form.role.value == choice.0 %} active {% endif %}" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" for='{{ form.role.auto_id }}_{{ forloop.counter0 }}'>
                                            <input name='{{ form.role.name }}' 
                                            id='{{ form.role.auto_id }}_{{ forloop.counter0 }}' type='radio' value='{{ choice.0 }}'
                                            {% if form.role.value == choice.0 %} checked='checked' {% endif %} required
                                            /> {{ choice.1 }}
                                        </label>
                                        {% endfor %}
                                        <br><br>
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
    
                            <div class="form-group text-center">
                                <button type="reset" class="btn btn-primary">Reset</button>
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} 
{{ block.super}}
<script src="/static/vendors/pnotify/dist/pnotify.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

<script>(function () {
    if($('.errorlist').length){
        $('.errorlist').hide();
        $('.errorlist').each(function(){
            console.log(this);
            new PNotify({
                title: "Ostrzeżenie",
                text: $(this).find('li').text(),
                type: 'danger',
                styling: 'bootstrap3'
            });
        })
    }
})(jQuery);
</script>
{% endblock javascripts %}
